includes:
    - phpstan-baseline.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    paths:
        - src